
body{
    background-color: steelblue;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  #main-content{
    max-width: 350px;
    width: 100%;
    display: inline-block;
    color: black;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 2rem;
    margin-left: 1rem;    
    img{
        max-width: 300px;
        width: 100%;
        
    }
  }
  
  #id-content{
    width: 100%;
    max-width: 1200px;
    background-color:white;
    margin: auto;
}
#pageTitle{
    width: 100%;
    background-color: seagreen;
    color: white;
    text-align: center;
    text-transform: capitalize;
    // color: #B97D4B;
}
.searchInput{
    width: 100%;
    max-width: 300px;
    height: 50px;
    }